<ng-container *ngIf="!(article$ | async) as article">
  <div class="article-form article__form">
    <form [formGroup]="articleForm" novalidate (ngSubmit)="submit()">
      <div class="article-form__item">
        <label for="title">Title</label>
        <textarea
          class="article-form__control"
          name="title"
          formControlName="articleTitle"
        >
        </textarea>
      </div>
      <div class="article-form__item">
        <label for="content">Content</label>
        <textarea
          class="article-form__control"
          name="content"
          formControlName="articleContent"
          (mouseover)="selection()"
        >
        </textarea>
      </div>
      <button class="article-form__btn" [disabled]="articleForm.invalid">
        Submit
      </button>
    </form>
  </div>
</ng-container>
<ng-container *ngIf="article$ | async as article">
  <ng-container *ngIf="article !== null && !edit">
    <div class="article-detail">
      <div class="article-detail__header">
        <h2>{{ article.title }}</h2>
        <h5>
          id:
          <span class="article-detail__span"><u>{{ article.id }}</u>
          </span>
        </h5>
      </div>
      <div class="article-detail__content" (mouseup)="selection()">{{ article.content }}</div>
      <button class="article-form__btn" (click)="editArticle(article)">
        Edit
      </button>
      <ng-container *ngIf="annotate()">
        <button type="button" class="article-form__btn" (click)="annotateFragment()">
          Annotate
        </button>
      </ng-container>
      <ng-container *ngIf="fragment && showAnnotationForm() && (article$ | async)">
        <app-annotation [fragment]="fragment"></app-annotation>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="edit && (article$ | async) as article">
  <div class="article-form article__form">
    <form [formGroup]="articleForm" novalidate (ngSubmit)="submit()">
      <div class="article-form__item">
        <label for="title">Title</label>
        <textarea
          class="article-form__control"
          name="title"
          formControlName="articleTitle"
        >
        </textarea>
      </div>
      <div class="article-form__item">
        <label for="content">Content</label>
        <textarea
          class="article-form__control"
          name="content"
          formControlName="articleContent"
          (mouseover)="selection()"
        >
        </textarea>
      </div>
      <button type="button" class="article-form__btn" (click)="cancel()">
        Cancel
      </button>
      <button
        type="submit"
        class="article-form__btn"
        [disabled]="articleForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</ng-container>
<ng-container *ngIf="annotate()"></ng-container>
