.article {
   
  &-form {
    margin-bottom: 30px;

    &__item {
        display: flex;
        margin-bottom: 30px;
        flex-direction: column;
    }

    &__control {
        width: 250px;
        max-width: 100%;
    }

    &__btn {
      padding: 5px 15px;
      float: right;
      cursor: pointer;
    }
  }

}