<div class="annotation-form annotation__form">
    <form [formGroup]="annotationForm" novalidate (ngSubmit)="submit()">
      <div class="annotation-form__item">
        <label for="content">Annotation</label>
        <textarea
          class="annotation-form__control"
          name="content"
          formControlName="annotationContent"
        >
        </textarea>
      </div>
      <button class="annotation-form__btn" [disabled]="annotationForm.invalid">
        Submit
      </button>
    </form>
  </div>
